body{
	margin: 0;  
    padding: 0;  
    background-image:url("bg_img.jpg");  
    font-family: "Arial, Helvetica, Futura";
}

.outer{
	background-color: black;
	width:60%;
	height:80%;
	margin: auto;


}

.inner{
	background-color: grey;
	padding-left: 20%;
	padding-top: 15px;
	padding-bottom: 15px;

}

h1,h3,p{
	color: white;
}

label{
		color: white;
		font-size: 20px;

}

input{
	width: 400px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
}

#submit,#reset{
	width: 200px;  
    height: 50px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    background-color: green;
    color: white;    
    font-size: 20px;

}